In [44]:
import numpy as np
import pandas as pd
import nltk
from nltk.stem import PorterStemmer
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [45]:
df = pd.read_csv('newData2.csv').drop('Unnamed: 0',axis=1)
df

,industry,job_title,description,job_link,job_id
0,Internet,Associate Editor,Responsibilities: Work with our staff writers ...,https://www.linkedin.com/jobs?viewJob=&jobId=4...,1000
1,Computer Software,Sales and Marketing Superstar,- Formulation and execution of sales strategy ...,https://www.linkedin.com/jobs?viewJob=&jobId=4...,1001
2,Internet,Visual Designer,Work with design and product management to cre...,https://www.linkedin.com/jobs?viewJob=&jobId=4...,1002
3,"Telecommunications, Information Technology and...",Senior Solution Architect - Voice SME,Senior Solution Architect - Voice SME will be...,https://www.linkedin.com/jobs?viewJob=&jobId=4...,1003
4,Computer Software,Crossover Software Architect - C# - $30/hr,"Ready to make $60,000 USD while working for a ...",https://www.linkedin.com/jobs?viewJob=&jobId=4...,1004
...,...,...,...,...,...
1674,"Management Consulting, Design, Marketing and A...",Visualiser,"Ideation, Converting a brief into a communicat...",https://www.linkedin.com/jobs?viewJob=&jobId=5...,2674
1675,"Information Technology and Services, Computer ...",Content Marketing Specialist,The Opportunity: We are looking for a Conten...,https://www.linkedin.com/jobs?viewJob=&jobId=4...,2675
1676,Entertainment,Associate Consultant - Social,We are looking for someone who is young and en...,https://www.linkedin.com/jobs?viewJob=&jobId=4...,2676
1677,Computer Software,Java + UI Developer/Lead/Architect,Summary The candidate will be involved in requ...,https://www.linkedin.com/jobs?viewJob=&jobId=4...,2677
1678,Human Resources,Global IT Sourcer - $30k,If you are an energetic and dynamic individual...,https://www.linkedin.com/jobs?viewJob=&jobId=4...,2678

In [46]:
df['mex'] = df['job_title'].map(str) + ' ' + df['description']
df

,industry,job_title,description,job_link,job_id,mex
0,Internet,Associate Editor,Responsibilities: Work with our staff writers ...,https://www.linkedin.com/jobs?viewJob=&jobId=4...,1000,Associate Editor Responsibilities: Work with o...
1,Computer Software,Sales and Marketing Superstar,- Formulation and execution of sales strategy ...,https://www.linkedin.com/jobs?viewJob=&jobId=4...,1001,Sales and Marketing Superstar - Formulation an...
2,Internet,Visual Designer,Work with design and product management to cre...,https://www.linkedin.com/jobs?viewJob=&jobId=4...,1002,Visual Designer Work with design and product m...
3,"Telecommunications, Information Technology and...",Senior Solution Architect - Voice SME,Senior Solution Architect - Voice SME will be...,https://www.linkedin.com/jobs?viewJob=&jobId=4...,1003,Senior Solution Architect - Voice SME Senior S...
4,Computer Software,Crossover Software Architect - C# - $30/hr,"Ready to make $60,000 USD while working for a ...",https://www.linkedin.com/jobs?viewJob=&jobId=4...,1004,Crossover Software Architect - C# - $30/hr Rea...
...,...,...,...,...,...,...
1674,"Management Consulting, Design, Marketing and A...",Visualiser,"Ideation, Converting a brief into a communicat...",https://www.linkedin.com/jobs?viewJob=&jobId=5...,2674,"Visualiser Ideation, Converting a brief into a..."
1675,"Information Technology and Services, Computer ...",Content Marketing Specialist,The Opportunity: We are looking for a Conten...,https://www.linkedin.com/jobs?viewJob=&jobId=4...,2675,Content Marketing Specialist The Opportunity...
1676,Entertainment,Associate Consultant - Social,We are looking for someone who is young and en...,https://www.linkedin.com/jobs?viewJob=&jobId=4...,2676,Associate Consultant - Social We are looking f...
1677,Computer Software,Java + UI Developer/Lead/Architect,Summary The candidate will be involved in requ...,https://www.linkedin.com/jobs?viewJob=&jobId=4...,2677,Java + UI Developer/Lead/Architect Summary The...
1678,Human Resources,Global IT Sourcer - $30k,If you are an energetic and dynamic individual...,https://www.linkedin.com/jobs?viewJob=&jobId=4...,2678,Global IT Sourcer - $30k If you are an energet...

In [47]:
from nltk.corpus import stopwords
import re
import string
from nltk.stem import WordNetLemmatizer
from nltk import word_tokenize
stop = stopwords.words('english')
stop_words_ = set(stopwords.words('english'))
wn = WordNetLemmatizer()

def black_txt(token):
    return  token not in stop_words_ and token not in list(string.punctuation)  and len(token)>2   
  
def clean_txt(text):
  clean_text = []
  clean_text2 = []
  clean_text = [ wn.lemmatize(word, pos="v") for word in word_tokenize(text.lower()) if black_txt(word)]
  clean_text2 = [word for word in clean_text if black_txt(word)]
  return " ".join(clean_text2)

In [48]:
df['mex'] = df['mex'].apply(clean_txt)

In [49]:
vec = CountVectorizer(binary=False)
features = vec.fit_transform(df['mex'])

In [50]:
df2 = pd.read_csv('aplcdata2.csv').drop('Unnamed: 0',axis=1)
df2

,Position,skills,city,Empl_type,Applicant.ID
0,Visual Designer,design and product management,cairo,full time,1
1,Global IT Sourcer,energetic and dynamic,al mansoura,full time,2

In [51]:
df2.to_csv(r'Desktop/aplcdata2.csv')

In [53]:
df2['mex2']=df2['Position'].map(str) + ' ' + df2['skills'] + ' ' + df2['city'] + ' ' + df2['Empl_type']
df2.drop(['Position','skills','city','Empl_type',],axis=1,inplace=True)
df2

   Applicant.ID                                               mex2
0             1  Visual Designer design and product management ...
1             2  Global IT Sourcer energetic and dynamic al man...

In [77]:
def get_app_id(h):
    h = 2
    index = np.where(df2['Applicant.ID'] == h)[0][0]
    user_q = df2.iloc[[index]]
    user_vec = vec.transform(user_q['mex2'])
    cos_similarity_vec = map(lambda x: cosine_similarity(user_vec, x),features)
    output2 = list(cos_similarity_vec)
    return output2,h
output2,h =get_app_id(int(2))

In [78]:
# user_vec = vec.transform(user_q['mex2'])
# cos_similarity_vec = map(lambda x: cosine_similarity(user_vec, x),features)

In [79]:
# output2 = list(cos_similarity_vec)

In [80]:
def get_recommendation(top, df_all, scores):
  recommendation = pd.DataFrame(columns = ['ApplicantID', 'JobID',  'title', 'score'])
  count = 0
  for i in top:
      recommendation.at[count, 'ApplicantID'] = h
      recommendation.at[count, 'JobID'] = df['job_id'][i]
      recommendation.at[count, 'title'] = df['job_title'][i]
      recommendation.at[count, 'score'] =  scores[count]
      count += 1
  return recommendation

In [81]:
top = sorted(range(len(output2)), key=lambda i: output2[i], reverse=True)[:10]
list_scores = [output2[i][0][0] for i in top]
get_recommendation(top,df, list_scores)

  ApplicantID JobID                                   title     score
0           2  2362                Global IT Sourcer - $30k  0.227921
1           2  2408                Global IT Sourcer - $30k  0.227921
2           2  2409                Global IT Sourcer - $30k  0.227921
3           2  2482                Global IT Sourcer - $30k  0.227921
4           2  2600                Global IT Sourcer - $30k  0.227921
5           2  2678                Global IT Sourcer - $30k  0.227921
6           2  1411  SAP BASIS ENGINEER - IMMEDIATE JOINING  0.121046
7           2  1414  SAP BASIS ENGINEER - IMMEDIATE JOINING  0.121046
8           2  1713  SAP BASIS ENGINEER - IMMEDIATE JOINING  0.121046
9           2  1716  SAP BASIS ENGINEER - IMMEDIATE JOINING  0.121046

In [66]:
import pickle

In [60]:
data = {'rev_app_id': get_app_id(h)}
with open(r'Desktop/demo2.pkl','wb')as file :
    pickle.dump(data,file)

NameError: name 'h' is not defined